@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: 100%;
    padding-top: 100px;
    overflow: auto;
    top: 60px;
    background-color: lightcyan;
}

*, *::before, *::after {
    box-sizing: inherit;
}

nav {
    width: 100%;
    background-color: lightblue;
    text-align: center;
    position: fixed; /*sticky title-nav bar*/
    top: 0;
    padding: auto;
    z-index: 10;
}

#subtitle {
    width: 90%;
}

img {
    border-radius: 3%;
    width: 100%;
    height: fit-content;
}

a {
    position: relative;
    text-decoration: none;
    font-size: 1.25rem;
    @media (min-width: 42em){
        font-size: 2rem;
    }
}

a::before {
    content: "";
    position: absolute;          
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    color:#55868C;
}

a:visited{
    color:#FF579F;
}
a:hover {
    color: #FF579F;
}

.transition{
    background-color: #55868C;
    color:#ECEBF3;
    border-radius: 10px;
    padding: 5px;
}
#dark-mode {
    color:#FF579F;
    text-decoration: none;
    font-size: 1.25rem;
    background: none;
    border: none;
}
#chaos {
    color:#FF579F;
    text-decoration: none;
    font-size: 1.25rem;
    background: none;
    border: none;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #0C120C;
    margin-bottom: 4rem;
    padding: 10px;
    color: ECEBF3;
    @media (min-width: 600px){
        padding: 20px;
    }       
}

nav ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;  
        display: grid;
        grid-template-columns: repeat(3, 120px);
        grid-gap: 10px;
        justify-content: right;
        font-size: larger;
        @media (min-width: 600px){
            grid-template-columns: 1fr repeat(4, fit-content(50px));
            grid-gap: 20px;
            justify-items: center;
        }    
}

.fullwidth {
        grid-column: 1 / 4;

        @media (min-width: 600px){
            grid-column: 1 / 2;
            justify-self: start;
        }
}

.title {
    align-self: center;
    font: arial;
    align-content: center;
    color:#FF579F;
    text-shadow: 1px 1px 2px #55868C;
    cursor:default;
}

.container{
    margin-top: 5%;
    width: 100%;

    border-radius: 3%;

    display: grid;
    grid-template-columns: 25% auto auto auto;
    column-gap: 60px;
    row-gap: 60 px;
}

.new-content {
    padding: 10px;
    grid-column-start: 1;
    position: fixed;
    background-color: #55868C;
    border-radius: 30px;
    box-shadow: 5px #0C120C;
    margin: 10px;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 25%;
    
    overflow-x: wrap;
    scrollbar-width: 0;
    color: white;
}

#g_id_onload {
    margin: 10px;
}

.new-content img{
    max-width: 100%;
    max-height: 400px;
    overflow-x:hidden;
}

#new-image-button {
    cursor: pointer;
    background-color: #55868C;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
}

#submit-post {
    display: none;
    cursor: pointer;
    background-color: #55868C;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
    margin: 10px;
}

.new-content-input {
    background-color: #55868C;
    border-radius: 4px;
    border: 1px solid white;
    width: 75%;
}

/* Blog post css */
/* #sort-container {
    display: flex;
} */

/* #sort-label {
    display: flex;
    justify-self: end;
} */

#sort-dropdown {
    cursor: pointer;
    background-color: #e0ffff;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    text-align: center;
}

.image-container{
    position: relative;
    display: flex;
    flex-direction: row;
}

.img-overlay {
    display: none;
    width: 90%;
    height: 100%;
    border-radius: 3%;
    background: gray;
    opacity: .75;
    position: absolute;
    z-index: 9;
    justify-content: center;
    align-items: center;
    color: white;
}

.blog-image {
    width: 90%;
}

.likes-container {
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

[class^="triangle"]{
    cursor: pointer;
}


.like-button-container {
    margin: 10%
}

.blog-content {
    width: 90%;
}

.blog-comments {
    width: 90%;
}

.submit-comment {
    cursor: pointer;
    background-color: #e0ffff;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    text-align: center;
    width: 15%;
}

.add-comment {
    margin-top: 5px;
    background-color: #e0ffff;
    border-radius: 4px;
    border: 1px solid black;
    width: 75%;
}

hr {
    height: 2px;
    margin-right: 10%;
}

#new-image{
    display: none;
}


.main-content {
    grid-column-start: 3;
    grid-row-start: 1;
    width: 60%;
    padding: 12 px;
    float: right;
    overflow:visible;
    overflow: auto;    
}

@media only screen and (max-width: 1000px) {
    .container {
        grid-template-columns: 100%;
        column-gap: 60px;
        row-gap: 60 px;
        display: flex;
        flex-direction: column;
    }
    .new-content {
        grid-row-start: 1;
        width: 80%;
        position: relative;
        align-items: center;
        margin: auto;
        margin-top: 15%;
        display: flex;
        flex-direction: column;
    }
    #sign-in-container {
        align-items: center;
    }
    .main-content {
        grid-column-start: 1;
        grid-row-start: 2;
        width: 80%;
        padding: 12 px;
        float: right;
        overflow: auto;   
        align-items: center; 
        margin: auto;
    }    
}

#sign-in-container{
    
    justify-items: center;
    overflow:hidden;
}