* {
    box-sizing: border-box;
}

.title {
    float: center;
    position: fixed; /*sticky title-nav bar*/

}
.new-content {
    width: 25%;
    float: left;
    position: fixed;
}

.main-content {
    width: 75%;
    float: left;
}

/* .image-container {
    width: 500px;
} */